@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
  --main-color: #1E73BE;
  --second-color: #60626a;
  --sixth-color: #2d345e;
  --black: #13131a;
  --bg: #ffffff;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

